@require 'Form'
@require 'Story'

.storyboard
    display flex
    align-items flex-start
    font-family helvetica

    .form
        overflow auto
        padding 20px 20px 20px 0px
        width 300px
        height calc(100% - 40px)

    .stories
        overflow auto
        position relative
        width calc(100% - 340px)
        height 100%